body {
    font-family:'Rubik', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    margin-bottom: 0px; 
    text-align: center;
    font-family:'Rubik', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0,1);
}

hr {
    border: 5px solid #F4C430; 
    background-color: #F4C430; 
    width: 150px;
    box-shadow: 0 2px 2px black;
}

#bsatu {
    text-align: center;
}

span {
    color: red;
    background-size: auto;
    margin-left: 5px;
    text-align: center;
} 

#situs {
    padding-left: 0%;
}


#hsatu {
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0,1);
}

.d-md-inline-flex {
    margin-top: 10px; 
    margin-bottom: 10px;
}

#tulisan {
    font-size: 14px;
}

#csatu {
    background-color: #0FABAC;
    padding-top: 100px;
    background: rgba(0, 104, 118, 0.5);
    height: 400px;
    color: white;
}

#cdua {
    background-color: #FFEFCA;
    border-radius: 30px ;
    border: 5px solid #0FABAC;
    box-shadow: 0 10px 10px 5px rgba(90, 65, 65, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    
}

#pesan {
    margin-top: 20px;
}

#card {
    max-width: 18rem;
    color: #0FABAC;
    box-shadow: 5px 10px black;
    display: inline-block;
    margin : 50px;
}

#judul {
    background-color: #F4C430; 
    text-align: center;
    box-shadow: 5px 10px 8px #6b6262;
    border-radius: 25px;
}

#forms {
    border: 5px solid black; 
    background-color: #006876; 
    border-radius: 30px;
    padding-left: 50px; 
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px 5px  rgba(90, 65, 65, 0.5);
    margin-left: 0px;
}

#header{
    font-size: x-large;
    color: black;
}

#title {
    background-color: #006876;
    color: white;
}

#message {
    font-size: 18px; 
    text-align: center;
}

#submit {
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    width: 200px; 
    justify-content: center;
    margin-top: 20px;
    background-color: #F4C430;
    color: black;
    font-weight: bold;
}

th {
    color: white;
}

td {
    color: white;
}

.jumbotron-fluid {
    background-image: url(mudik.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

#rcard {
    display: inline-block;
}

#pesans {
    background-color:white; 
    border-radius: 30px;
    box-shadow: 5px 10px 8px black;
    padding: bottom 100px; 
    padding-bottom: 30px;
}

#button {
    background-color: #F4C430;
    color: black;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

#fpesan {
    margin-left: 0%;
}

#button:hover, #submit:hover{
    background-color: #6b6262;
}

#peta {
    width: 18rem;
    box-shadow: 5px 5px 10px black;
}

.col-md-12.col-sm-12 {
    padding-left: 0%;
}

#left-1, #left-2 {
    margin-left: 0%;
}

.form-group {
    color: white;
}

#warning {
    text-align: center;
}

.panel {
    display: none;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s;
}

.panel.active {
    background-color: #555;
    border-radius: 25px;
    display: block;
    max-height: fit-content;
}

.accordion{
    text-align: center;
    border-radius: 25px;
    background-color: #F4C430;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 5px 10px 8px #6b6262;
}

.accordion h3 {
    display: flex;
    flex-direction: column;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

#buttonCari {
    background-color: #F4C430;
}

.table td {
    border: 1px solid #000000;
}

.table thead th {
    border: 1px solid #000000;
}