@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}

.jumbo-foto {
    background-image: url(masked_people.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    position: relative;
}

.jumbo-foto::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,104,118,1), rgba(0,0,0,0));
    bottom: 0;
}

.container-jumbo-foto {
    position: relative;
    z-index: 1;
    padding-top: 40px;
}

#slogan {
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#hrSlogan {
    margin: auto;
    max-width: 500px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.jumbo-about {
    margin-top: 50px;
    background: linear-gradient(to bottom, #3DA467, #006876);
    height: 350px;
}

#judul {
    color: white;
    font-size: 40px;
}

hr {
    border: 3px solid #F4C430; 
    background-color: #F4C430;
    max-width: 355px;
    margin-left: 0%;
}

#desc {
    color: white;
    font-size: 24px;
}

span {
    color: #E93A3D;
}

.data-container {
    border-radius: 15px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin-top: -100px;
}

#data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #FFEFCA;
    border: 3px solid #006876;
    border-radius: 25px;
    width: 275px;
    height: 120px;
  }

.number {
    color:  #24ce68;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.kritik-saran {
    margin-top: 23px;
    border-radius: 15px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    background-color: #FFEFCA;
}

.header-kritik{
    margin: 25px;
    border-radius: 10px;
    background-color: #F4C430;
}

#descKritik {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    color: white !important;
}

table.table-bordered > thead > tr > th{
    border: 1px solid #006876;
    text-align: center;
}

table.table-bordered > tbody > tr > td{
    border: 1px solid #006876;
}

#belumLogin {
    margin-top: 10%;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
    background: #FFEFCA;
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.5);
}

#hrLog {
    border: 2px solid #F4C430; 
    background-color: #F4C430;
    max-width: 420px;
    margin: auto;
    margin-bottom: 5px;
}

#toTop {
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 27px;
    font-size: 48px;
    color: #ecb716;
    display: none;
}

.search {
    display: flex;
    justify-content: center;
}