@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.menu-bar {
    background-color: #006876;
    font-family: 'Rubik', sans-serif;
}
  
.menu-bar img {
    width: 53px;
    height: 50px;
    margin: 5px;
}

.navbar-brand {
    margin-left: 5px;
    font-size: 30px !important;
    color: white !important;
    font-weight: 500;
}

.navbar{
    margin-bottom: 0px;
}

.nav-link {
    font-size: 20px;
    margin-right: 3px;
    color: white !important;
}

.nav-link:hover {
    color: #F4C430 !important;
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(244,196,48)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}

.container-footer {
    padding-top: 20px;
    text-align: center;
    background-color: #006876;
    height: 60px;
    color: white;
    margin-top: 40px;
    margin-bottom: 0;
}