  .text_selector {
    color: #47525E;
    font-family: Lato;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
  }

  .text-covid {
    color: #F95F62;
    font-family: Lato;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 5px solid #F4C430;
  }

  .search-container {
    float: center;
  }
  
  input[type=text] {
    padding: 6px;
    padding-left: 10px;
    margin-top: 8px;
    font-size: 17px;
    width: 600px;
    border: 2px solid #006876;
    border-radius: 58px;
  }
  
  .search-container button {
    float: right;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 16px;
    background: #0FABAC;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .search-container button:hover {
    background: #0fac87;
    border-radius: 58px;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  .card-rs {
    background-color: #FFEFCA;
    border: 2px solid #006876;
    border-radius: 21px;
  }

  .coformant-pagination {
    background-color: #FFFFFF;
    border: 2px solid #0FABAC;
    border-radius: 14px;
  }

  .br-14 {
    border-radius: 14px;
  }