{% extends 'base.html' %}
{% load static %}

{% block title%}Beranda{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'beranda/style_home.css' %}">
{% endblock additional_css %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock js %}

{% block content %}

<div class="jumbotron jumbotron-fluid jumbo-foto">
  <div class="container container-jumbo-foto">
    <h2 class="display-4" id="slogan">Informan <span>COVID-19</span> Anda</h2>
    <hr id="hrSlogan">
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 pb-4 data-container">
      <div class="row pt-4 pb-3">
        <div class="col text-center">
          <h2>Data Kasus Persebaran <span>COVID-19</span> di Indonesia</h2>
          <h6 id="tanggal">Update Terakhir: </h6>
          <h6>Sumber Data: <a href="https://covid19api.com/">https://covid19api.com/</a></h6>
        </div>
      </div>

      <div class="row">
        <div class="container" id="data">
          <div class="col text-center">
            <h3 id="header">Total Positif</h3>
            <h2 class="number" id="confirmed"></h2>
          </div>
        </div>
        <div class="container" id="data">
          <div class="col text-center">
            <h3 id="header">Total Sembuh</h3>
            <h2 class="number" id="recovered"></h3>
          </div>
        </div>
        <div class="container" id="data">
          <div class="col text-center">
            <h3 id="header">Total Meninggal</h3>
            <h2 class="number" id="death"></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid jumbo-about">
  <div class="container">
    <h1 class="display-4" id="judul">Tentang Coformant</h1>
    <hr>
    <p class="lead" id="desc">Coformant adalah sebuah platform pengumpul informasi seputar COVID-19 di Indonesia. Coformant hadir untuk Anda dan lahir dari Anda.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 pb-4 kritik-saran">

      <div class="row">
        <div class="container header-kritik">
          <div class="col text-center">
            <h2 id="judulKritik">Kritik & Saran</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container desc-kritik">
          <div class="col">
            <p id="descKritik">Jika terdapat kritik maupun saran terhadap konten di website kami silakan isi form di bawah ini:</p>
          </div>
        </div>
      </div>

      {% if messages %}
        {% for notif in messages %}
        <div class="alert alert-success" role="alert">
          {{ notif }}
        </div>
        {% endfor %}
      {% endif %}
      
      <div class="row">
        <div class="container form">
          <div class="col">
            <form method="POST">
              {% csrf_token %}

              <div class="form-group">
                <h5>{{input_form.nama.label_tag}}</h5>
                <p>{{input_form.nama}}</p>
              </div>

              <div class="form-group">
                <h5>{{input_form.email.label_tag}}</h5>
                <p>{{input_form.email}}</p>
              </div>

              <div class="form-group">
                <h5>{{input_form.kritik_saran.label_tag}}</h5>
                <p id="formKritik">{{input_form.kritik_saran}}</p>
              </div>

              <div class="container text-center">
                <input class="btn btn-success" type='submit' value='Kirim'>
                <a class="btn btn-secondary ml-3" href="{% url 'beranda:daftar' %}">Lihat Kritik & Saran</a>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<i id="toTop" class="fa fa-arrow-circle-up"></i>
{% endblock content %}

{% block additional_script %}
<script src="{% static 'beranda/beranda.js' %}"></script>
{% endblock additional_script %}