{% extends 'base.html' %}
{% load static %}

{% block title%}Beranda{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'beranda/style_home.css' %}">
{% endblock additional_css %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock js %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
      {% if user.is_authenticated %}
        <div class="col-10 pb-4 kritik-saran">
          <div class="row">
            <div class="container header-kritik">
              <div class="col text-center">
                <h2 id="judulKritik">Daftar Kritik & Saran</h2>
              </div>
            </div>
          </div>

          {% if not daftar_kritik %}
          <div class="row">
            <div class="container daftar-kosong">
              <div class="col text-center">
                <h5>Belum ada kritik & saran yang masuk</h5>
              </div>
              <div class="container-btn text-center mt-3">
                <a class="btn btn-danger" href="{% url 'beranda:home' %}">Kembali</a>
            </div>
            </div>
          </div>

          {% else %}
          <div class="row">
            <div class="container search">
              <div class="input-group mb-3 col-sm-10">
                <input type="text" class="form-control" id="keyword" placeholder="Ketik nama penulis kritik / saran di sini" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-success" type="button" id="search">Cari</button>
                </div>
            </div>
            </div>
          </div>
          <div class="row">
              <div class="container daftar">
                  <div class="col">
                    <table class="table table-hover table-bordered">
                        <thead class="table-success thead">
                          <tr>
                            <th scope="col">Kritik & Saran dari:</th>
                            <th scope="col">Isi pesan:</th>
                        </tr>
                        </thead>
                        <tbody id="bodyTable">
                            {% for kritik in daftar_kritik %}
                                <tr>
                                    <td>{{ kritik.nama }}</td>
                                    <td>{{kritik.kritik_saran}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="container-btn text-center mt-3">
                        <a class="btn btn-dark" href="{% url 'beranda:home' %}">Kembali</a>
                    </div>
                    
                  </div>
              </div>
          </div>
          {% endif %}
        </div>

      {% else %}
      <div class="card" id="belumLogin">
        <div class="card-body text-center" id="bodynya">
          <div class="header-login">
            <hr id="hrLog">
            <h2>Harap Log In terlebih dahulu</h2>
            <hr id="hrLog">
          </div>
          <a class="btn btn-primary mt-2" href="{% url 'login:login' %}">Log In</a>
        </div>
      </div>
      {% endif %}
        
    </div>
</div>
<i id="toTop" class="fa fa-arrow-circle-up"></i>
{% endblock content %} 

{% block additional_script %}
<script src="{% static 'beranda/kritiksaran.js' %}"></script>
{% endblock additional_script %}