body {
    background-color: rgba(0, 104, 118, 0.3);
}

.tambahdonasiTitle {
    padding-top: 2.083vw;
}

.formbawah {
    padding-bottom: 2.778vw;
    margin-left: 15.278vw;
    margin-right: 15.278vw;
    box-shadow: 10px 10px 5px grey;
}

hr {
    border: 5px solid #F4C430; 
    background-color: #F4C430; 
    width: 233px; 
    margin-left: auto; 
    margin-top: auto;
}

.btnbawah {
    background-color: #F4C430;
    border:0;
    color:#006876
}

.btnijo {
    background-color: #006876;
    border:0
}