<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Daftar Situs{% endblock title %}</title>

        {% block additional_css %}
            <link rel="stylesheet" href="{% static 'situs.css' %}"> 
        {% endblock additional_css %}

        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock js %}

    </head>

    {% block content %}
    <body>
        <div class="jumbotron-fluid">
            <div class="container-fluid" id = "csatu">
                <h1><b>DAFTAR</b></h1>
                <hr>
                <h3 id = "hsatu"><b>Situs Daerah Penanganan</b><span><b> COVID-19</b></span></h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="container-fluid" id = "url">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="container-fluid accordion">
                                    <h3>PROVINSI</h3>
                                    <div class="container-fluid panel" id = "cdua">
                                        <div class="d-md-inline-flex">
                                            <div class="container">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Aceh<br>
                                                        <a href="https://covid19.acehprov.go.id/">https://covid19.acehprov.go.id</a></p>
                                                    </div>
                                                </div>
    
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Bali<br>
                                                        <a href="https://infocorona.baliprov.go.id/">https://infocorona.baliprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Banten<br>
                                                        <a href="https://infocorona.bantenprov.go.id/">https://infocorona.bantenprov.go.id</a></p>    
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Jakarta<br>
                                                        <a href="https://corona.jakarta.go.id/id">https://corona.jakarta.go.id</a></p>    
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Jambi<br>
                                                        <a href="http://corona.jambiprov.go.id/v2/">http://corona.jambiprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Jawa Barat<br>
                                                        <a href="https://pikobar.jabarprov.go.id/">https://pikobar.jabarprov.go.id</a></p>    
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Jawa Tengah<br>
                                                        <a href="https://corona.jatengprov.go.id/">https://corona.jatengprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Jawa Timur<br>
                                                        <a href="https://infocovid19.jatimprov.go.id/">https://infocovid19.jatimprov.go.id</a></p>            
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Kalimantan Barat<br>
                                                        <a href="https://dinkes.kalbarprov.go.id/covid-19/">https://dinkes.kalbarprov.go.id/covid-19</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="d-md-inline-flex">
                                            <div class="container">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Kepulauan Riau<br>
                                                        <a href="https://corona.kepriprov.go.id/">https://corona.kepriprov.go.id</a></p>
                                                     </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Lampung<br>
                                                        <a href="https://geoportal.lampungprov.go.id/gis/apps/webappviewer/index.html?id=1264d172d3a34d59a99210733672695e">https://geoportal.lampungprov.go.id/corona</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>NTB<br>
                                                        <a href="https://corona.ntbprov.go.id/">https://corona.ntbprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Riau<br>
                                                        <a href="https://corona.riau.go.id/">https://corona.riau.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Sulawesi Selatan<br>
                                                        <a href="https://covid19.sulselprov.go.id/">https://covid19.sulselprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Sumatera Barat<br>
                                                        <a href="https://corona.sumbarprov.go.id/">https://corona.sumbarprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Sumatera Selatan<br>
                                                        <a href="http://corona.sumselprov.go.id/index.php?module=home&id=1">http://corona.sumselprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Sumatera Utara<br>
                                                        <a href="http://covid19.sumutprov.go.id/">http://covid19.sumutprov.go.id</a></p>
                                                    </div>
                                                </div>
                            
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-2">
                                                        <img src="{% static 'search.png' %}" width="50px" height=50px>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p>Yogyakarta<br>
                                                        <a href="https://corona.jogjaprov.go.id/">https://corona.jogjaprov.go.id</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="container-fluid" id = "fpesan">
                        <div class="col-sm-12 col-md-12">
                            <h4 id = "judul">PESAN SINGKAT UNTUK TEMAN/KELUARGA</h4>
                        </div>
                        {% if user.is_authenticated %}
                            <div class = "container-fluid" id = "warning">
                                <h5 id = "berhasil">&#128521 Hello {{user.username}} &#128521</h5>
                            </div>
                            <div class="col-sm-12 col-md-12" id = "forms">
                                <form action="savepesan/" method = "POST">
                                    {% csrf_token %}
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-form-label">
                                                {{input_form.nama.label_tag}}
                                            </div>
                                            <div class="col-sm-10">
                                                {{input_form.nama}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-form-label">
                                                {{input_form.tujuan.label_tag}}
                                            </div>
                                            <div class="col-sm-10">
                                                {{input_form.tujuan}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-form-label">
                                                {{input_form.kota.label_tag}}
                                            </div>
                                            <div class="col-sm-10">
                                                {{input_form.kota}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-form-label">
                                                {{input_form.pesan.label_tag}}
                                            </div>
                                            <div class="col-sm-10">
                                                {{input_form.pesan}}
                                            </div>
                                        </div>
                                    <input type = "submit" value = "Kirim" id = "submit"> 
                                </form>
                            </div>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <div class = "container-fluid" id = "warning">
                                <h5>&#128521 Mau kirim pesan juga? Yuk login ke akunmu &#128521</h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
                 <div class="col-md-12 col-sm-12">
                    <br> <br>
                    <div class="container">
                        <div class="form-row">
                            <div class="col">
                                <input id="search_input" class="form-control" type="text" placeholder="Masukkan keyword nama penerima pesan" name = "search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <br> <br>
                        <div class="container" id = "pesans">
                            {% for pesan in pesans %}
                            <div class = "row" id = "rcard">
                                <div class="card text-white bg-info mb-3" id = "card">
                                    <div class="card-header" id = "header" >
                                        PESAN
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" id = "title">Dari {{pesan.nama}} untuk {{pesan.tujuan}} di {{pesan.kota}}</h5>
                                        <p class="card-text" id = "message">{{pesan.pesan}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <br><br>
                    <div class="card" id = "peta">
                        <img class="card-img-top" src="{% static 'map.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">Menyediakan daftar situs resmi penganggulangan<span>COVID-19</span>  dari pemerintah di berbagai macam provinsi di Indonesia dan fitur kirim pesan singkat kepada 
                        teman/keluarga yang dirindukan akibat pandemi<span>COVID-19</span> ini</p>
                        <a href="https://covid19.go.id/peta-sebaran" class="btn btn-primary" id ="button">Lihat Peta Sebaran</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}

    {% block additional_script %}
        <script src="{% static 'situsjs.js' %}"></script>
    {% endblock additional_script %}
</html>