{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}List Donasi{% endblock title %}</title>

        {% block additional_css %}
        <link rel="stylesheet" href="{% static 'style_donasi.css' %}"> 
        {% endblock additional_css %}

        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock js %}
    </head>

    {% block content %}
    <div class="jumbotron jumbotron-fluid fotonya">
        <div class="container-fluid csatu">
            <h1 style="text-shadow: 2px 2px 10px #000000;"><b>DONASI</b></h1>
            <hr>
            <h3 id = "hsatu">Daftar Program Donasi<span><b> COVID-19</b></span></h3>
        </div>
    </div>


    <div class="text-center">
        <h5>Untuk berdonasi, pilih program yang kamu inginkan di bawah ini</h5><br>
    </div>

    <!-- Search bar -->
    <div class="col-md-12 col-sm-12">
        <br>
        <div class="container">
            <div class="form-row">
                <div class="col">
                    {% csrf_token %}
                    <input id="txtSearch" class="form-control" type="text" placeholder="Cari nama donasi" name = "search">
                </div>
            </div>
        </div>
        <br> <br>
    </div>

    <!-- Show result -->
    <div class="row" id="row-card">
        {% for kegiatan in data %}
        <div class="col-md-4 mb-4 area">
            <div class="card cardku" id="donate" style="max-width: 22rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px;">
                <!-- card header -->
                <div class="card-header" style="font-weight: bold; background-color: #FFEFCA;">
                    <h5 class="card-title" style="color: #006876; font-weight: bold;">{{ kegiatan.nama_donasi }} </h5>
                </div>
                <div class="card-body">
                    <p style="font-weight: bold;">oleh {{ kegiatan.nama_pemberi }}</p>
                    <a href="{{ kegiatan.url }}" class="btn btn-primary btnijo">Lihat lebih lanjut</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not user.is_authenticated %}
    <div class="text-center">
        <h5>Untuk menambahkan program donasi, silahkan login terlebih dahulu 😊</h5><br>
    </div>
    {% endif %}
    <br><br>
    {% if user.is_authenticated %}
    <div class="accordion-container col-md-12 col-sm-12">
        <!-- Form -->
        <div class="accordion" data-aos="fade-zoom-in">
            <div class="accordion-header">
                <div class="accordion-header-left">
                    <div class="accordion-title text-center" id="activity-btn" style="padding-top: 2%; padding-bottom: 2%;"><strong>Tambahkan Donasi</strong></div>
                </div>
            </div>
            <div class="accordion-body hidden" id="activity-body">
                <div class="card mt-4 mb-5 shadow-sm rounded formbawah">
                    <div class="card-body" id="tambahdonasi">
                        <p class="text-center" style="padding-bottom: 1.042vw;">Silahkan isi data-data donasimu pada form dibawah ini</p>
                        <p class="text-center" id="message"></p>
                        <div class="col-6" style="margin-left: 25%">
                            <form class="d-flex flex-column my-2 w-90" id="form-donasi" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <p class="w-100 justify-content-center my-1" style="padding-bottom: 0.694vw;">
                                    <b>{{ field.label }}</b><br> {{ field }}</p>
                                {% endfor %}
                                <p class="text-center" style="padding-top: 1.042vw;">Terima kasih, orang baik! 😊</p><br>
                                <button type="submit" value="Submit" class="btn btn-primary btnijo">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
        <br>

    {% endblock content %}

    {% block additional_script %}
    <script src="{% static 'donasi.js' %}"></script>
    {% endblock additional_script %}